<style>
  h2 {
    width: 100vw;
    text-decoration: underline blue;
    color: blue
  }

  h3 {
    color: blue;
  }

  table,
  td,
  th {
    border: 1px solid;
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

</style>

<h2>Export Cat</h2>
<h3>Cat N°<%= cat.id %>
</h3>
<table>
  <tr>
    <th>name</th>
    <td>
      <%= cat.name %>
    </td>
  </tr>
  <tr>
    <th>weight</th>
    <td>
      <%= cat.weight %>
    </td>
  </tr>
  <tr>
    <th>color</th>
    <td>
      <%= cat.color %>
    </td>
  </tr>
  <tr>
    <th>eyes_color</th>
    <td>
      <%= cat.eyes_color %>
    </td>
  </tr>
</table>
